# Bot
TOKEN=YOUR_BOT_TOKEN_HERE
CLIENT_ID=YOUR_CLIENT_ID_HERE

# Supabase
SUPABASE_URL=
SUPABASE_ANON_KEY=

# Session
SESSION_SECRET=random-session-secret-here

# OAuth
DASHBOARD_URL=http://localhost:3000
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=